[Unit]
Description=SubscriptionPlus Reserv Server
After=network.target

[Service]
ExecStart=/root/SubscriptionsPlusServer/bin/SubscriptionPlusReservServer
WorkingDirectory=/root/SubscriptionsPlusServer
Restart=always
RestartSec=5s
StartLimitBurst=10
StartLimitIntervalSec=60
User=root
Group=root
LimitNOFILE=1048576

NoNewPrivileges=yes

[Install]
WantedBy=multi-user.target
